.actions-buttons {
  display: flex;
  justify-content: flex-end;
}

.bulk-edit-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.bulk-edit-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;

  tbody, thead {
    display: flex;
    flex-direction: column;
  }

  tbody {
    height: 300px;
    overflow: auto;
  }

  thead {
    width: calc(100% - 15px);
    background-color: gainsboro;
  }

  tr {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
  }

  td, th {
    padding: .5rem;
    width: 25%;
    display: flex;
    justify-content: center;
  }
}

.form-row-style {
  display: flex;
  justify-content: space-between;
}

.form-column-style {
  width: 40%;
  mat-form-field {
    width: 100%;
  }
}

h3:not(:first-of-type) {
  margin-top: 1rem;
}

.bulk-edit-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
