:host {
  width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}

.employees-table-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.employees-table-container {
  position: relative;
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
}

.employees-table-bulk-button {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
}
